.navbar {
  background-color: #050742;
}

.navbar-toggler {
  line-height: 0.2 !important;
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.nav-link {
  border-bottom: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500 !important;
  text-transform: uppercase;
}
.nav-link.active,
.nav-link:hover {
  border-bottom: 2px solid rgb(86, 84, 84);
}

@media only screen and (max-width: 1000px) {
  .navbar-nav {
    padding-top: 40px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
  }
}
